*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
# Firebase
firebase-credentials.json
.env
keystore.jks
*.jks
*.keystore
app/release/
# Idea
.idea/
*.iml
#design
stitch/
#web
#web/

